{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>login page</title>
  <link rel="stylesheet" href="{% static 'CSS/fonts.css' %}" type="text/css">
  <!-- <link rel="stylesheet" href="{% static 'CSS/login.css' %}" type="text/css"> -->
  <link rel="stylesheet" href="{% static 'CSS/register.css' %}" type="text/css">
  <script defer type="text/javascript" src="{% static 'JS/login.js' %}"></script>
</head>
<body>
  {% block body%}{% endblock %}
</body>
</html>