@import './variables';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-image: url("../Assets/index-29.jpg");
  background-size: cover;
}

header{
  background-color: transparent;
  background-color: rgba($color: white, $alpha: 0.50);
}


li,a{
  color: $grey-accent;
}

.block1{
  height: 85vh;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  align-items: center;

    h2{
      font-family: brightons;
      font-size: 40px;
    }

    h3{
      width: 450px;
      font-weight: lighter;
      font-family: 'Poppins';
      font-size: 16px;
      margin-top: 20px;
      margin-left: 30px;
    }

    img{
      height: 70%;
      width: 20%;
    }

    .img1{
      width: 30%;
      height: 80%;
      margin-top: 5px;
    }

    .img2{
      margin-top: 100px;
      margin-right: 150px;
    }

}



header{
  padding: 20px;
  height: 30px;
}


footer{
  height: 15vh;
  background-color: $grey-accent;
  padding: 20px;
  color: white;
  margin-top: auto;
}

.title > a{
  font-family: autograph;
  font-size: 20px;
  color: black;
}

.glass{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;

}


.block1 > .glass{
  padding: 20px 50px 20px 30px;
}
