*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  font-family: sans-serif;
}
.blurred-wrapper{
  background: center center no-repeat ;
  background-size: cover;
  height: 100vh;
  background-image: url(../Assets/hv8.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: hue 7s infinite alternate;
}

.blurred-wrapper::after{
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3rem);
  transform: scale(1.25);
}

@keyframes hue{
  from{
    filter: hue-rotate(0);
  }
  to{
    filter: hue-rotate(360);
  }
}

.color-layer{
  height: 100vh;
  background: #30436b6e;
}



.sidenav{
  background: rgba(0, 0, 0, 0);
  border-right: 1px solid #30436bb4;
  width: 20%;
  color: #E7E3FF;
  padding-left: 30px;
}

.side

.sidenav > i{
  color: #30436b6e;
}

.sidenav > a{
  color: #30436b6e;
  font-size: 15px;
} 
.right_sidebar{
  background-color: rgba(0, 0, 0, 0); 
}

.feed_area{
  background-color: rgba(0, 0, 0, 0);
}
.text_area_field{
  font-size: 15px;
}
.post_area{
  background-color: #30436bb4;
  border-radius: 10px;
}
.post_section{
  background-color: #30436bd2;
  border-radius: 10px;

}
.header-wrapper{
  width: 80%;
  height: 65px;
  margin-left: 20%;
  border-bottom: 1px solid #30436bb4;
}

.topnav-search{
  display: inline;
  margin-top: 12px;
  margin-left: 10px;
  /* width: 400px; */
  height: 35px;
  margin-right: 4.8cm;
  display: inline-flex;
  border-bottom: 1px solid #888888;
}
.topnav-search > input{
  background-color: #1D2E4E;
  color: rgb(205, 200, 200);
  border-radius: 10px;
  width: 6cm;
  height: 30px;
  font-size: 20px;
  border: none;
  
}
.topnav-search > button{
  /* margin-top: 20px; */
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.topnav-search > button > a> i{
  padding-bottom: 1cm;
  color: #b9babb;
  margin-left: 10px;
}

.topnav-searchbutton{
  display: inline-block;
}

.nav_user_profile{
  padding: 20px;
  font-size: 20px;
  margin-left: 10px;
  display: inline;
}
.topnav-pic{
  float: right;
  margin-right: 20px;
}
.topnav_profile{
  font-size: 15px;
  padding-right: 20px;
}

.topnav-right{
  display: flex;
  float: right;
}