*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  font-family: sans-serif;
}
.blurred-wrapper{
  background: center center no-repeat ;
  background-size: cover;
  height: 100%;
  background-image: url(../Assets/hv9.jpg);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  animation: hue 7s infinite alternate;
}


.no-post{
  height: 100vh;
}


.end-post{
  height: 50vh;
}
.end-article{
  height: 100vh;
}


.sidenav{
  background: rgba(0, 0, 0, 0);
  border-right: 1px solid #30436bb4;
  width: 20%;
  color: #E7E3FF;
  padding-left: 30px;
}

.side

.sidenav > i{
  color: #30436b6e;
}

.sidenav > a{
  color: #30436b6e;
  font-size: 15px;
} 
.right_sidebar{
  background-color: rgba(0, 0, 0, 0); 
}

.feed_area{
  background-color: rgba(0, 0, 0, 0);
}
.text_area_field{
  font-size: 15px;
}
.post_area{
  background-color: #30436bb4;
  border-radius: 10px;
}
.post_section{
  background-color: #30436bd2;
  border-radius: 10px;

}
.header-wrapper{
  width: 80%;
  height: 65px;
  margin-left: 20%;
  border-bottom: 1px solid #30436bb4;
}

.topnav-search{
  display: inline;
  width: 300px;
  display: flex;
  border-bottom: 1px solid #30436bb4;
}
.topnav-search > input{
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 50%;
  font-size: 25px;
  border: none;
  
}
.topnav-search > button{
  height: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.topnav-search > button > a> i{
  color: #30436b;
}

.topnav-searchbutton{
  display: inline-block;
}

.nav_user_profile{
  display: inline;
}
.topnav-pic{
  float: right;
  margin-right: 20px;
}
.topnav_profile{
  font-size: 15px;
  padding-right: 20px;
}

.topnav-right{
  display: flex;
  float: right;
}


.sent-message{
  background-color: #f3f3f3;
  display: block;
  
  color: black;
  width: 25%;
  font-size: 15px;
}

.receive-message{
  color: black;
  display: block;
  background-color: #f3f3f3;
  width: 25%;
  font-size: 15px;
}

.chat-message{
  width: 100%;
  display: block;
}

.message-receiver{
  display: flex;
}

