.back_btn_post {
  font-size: small;
  padding: 5px;
}

.follow-button{
  color: #1664b3;
  font-family: "Helvetica";
  font-size: 10pt;
  width: 80px;
  border:none ;
  height: 30px;
  display: inline-block;
  margin-top: 25px;
  margin-left: 40px;
  cursor: hand;
  background-color:rgb(233, 230, 230);
}

img{
  display: block;
}

.user_details_field{
  display: block;
  margin-top: 10px;
}

.udf_profile {
  float: left;
  margin-left: 5px;
  margin-right: 50px;
  margin-top: 10px;
}

.udf_profile img {
  border-radius: 50%;
}


.udf_username {
  display: inline-block;
  font-size:23px;
  margin-bottom: 0;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(194, 194, 194);

}

.udf_bio{
  margin-left: 22%;
  background-color: #2F4168;
  padding: 10px;
  margin-bottom: 15px;
  width: 78%;

}

.udf_username-tag {
  display: inline-block;
  font-size:12px;
  padding: 0;
  margin-top: 0;
  margin: 0;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(194, 194, 194);

}

.udf_bio{
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(194, 194, 194);
  font-size: 15px;
}

.user_search {
  text-decoration-color: white;
  background-color: #53648ab4;
  margin-left: 10px;
  margin-top: 5px;
}
.user_search >a{
  color: white;
  margin-left: 5px;
  text-decoration: none;

}
.user_search >p{
  color: rgb(194, 194, 194);
  font-size: small;
  margin-left: 40px;
}

.feed_section,.Article_Section_Area{
  background-color: #30436bd2;
  margin-top: 10px;
}
 .article_title >a,.article_title{
   color: white;
   text-decoration: none;

 }
.post_author{
  color:rgb(153, 151, 151) ;

}
.article_body{
  font-size: medium;
  margin: 20px;
}
.btn-success{
  margin-top: 10px;
  margin-left: 3px;
}
.search_box{
  background-color:rgb(209, 208, 208) ;
  border: none;
  width: 250px;
  height: 30px;
  margin-left: 4px;
  box-shadow: none;
}
.search_box::placeholder{
  color: #30436ba8;
  font-size: medium;
  margin-left: 15px;
  font-weight: bold;
}

.news_area{
  margin-right: 70px;
  float: right;
  background-color:#30436bd2;
  border: none;
}
.newsltr-title{
  color: white;
}
.header ,.card{
  background-color: #30436bd2 ;
}
.card >p{
  color: rgb(165, 164, 164);
  font-size: large;
}

.article_picture{
  width: 50%;
  height: 50%;
  margin: 20px;

}

.article_post_area{
  background-color: aqua;
}
textarea#id_body{
  height:30%;
  background-color: #1D2E4E;
  color: rgb(200, 200, 200);
  font-size: large;

}