@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

body {
  transform-style: preserve-3d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-container {
  width: 100%;
  margin: 0;
  padding: o;
}

.box-1,
.box-2,
.box-3 {
  position: relative;
  background-attachment: fixed;
  width: 100%;
  /* opacity: 0.75; */
  background-size: cover;
  background-position: center;
}

.box-1 {
  background-image: url(../Assets/bg-new1.jpg);
  opacity: 0.84;
  height: 100vh;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(1.1);
  z-index: -1;
  width: 100%;
}

.box-1 .caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  font-family: "Allura", cursive;
  font-size: 50px;
  padding: 10px 30px 10px 30px;
  letter-spacing: 2px;
  color: aliceblue;
  background-color: #111;
  text-align: center;
}

.content-block {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 400px;
  padding: 20px;
}

.content-block .about {
  order: 1;
  font-size: 40px;
  width: 30%;
  height: 50px;
  top: 50%;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.vr {
  order: 2;
  height: 200px;
  width: 1px;
  border-left: 1px solid gray;
  min-height: 200px;
  /*display: inline-block;*/
  /*margin: 0 auto;*/
}

.content-block .discription {
  order: 3;
  color: #777;
  text-align: left;
  font-family: roboto;
  font-size: 30px;
  width: 50%;
}

.box-2 {
  background-image: url("../Assets/bgimg2.jpg");
  height: 500px;
  opacity: 0.85;
}

.heading {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  font-family: brightons;
  color: #ffffff;
  font-size: 30px;
}

.heading span.heading-text {
  background-color: #24252a;
  padding: 20px;
  font-family: "Noto Sans JP", sans-serif;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  filter: opacity(0.8);
}

.links .signup-link {
  order: 1;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  color: #111;
  background-color: #ffffff;
  height: 10%;
  width: 5%;
  margin-top: 220px;
  padding: 10px 30px 10px 30px;
  font-family: "Montserrat", sans-serif;
}

.links .login-link {
  order: 2;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  color: #111;
  background-color: #ffffff;
  height: 10%;
  width: 5%;
  margin-top: 220px;
  padding: 10px 30px 10px 30px;
  font-family: "Montserrat", sans-serif;
}

.nav {
  width: 100%;
}

.content-block2 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  margin-top: 5px;
}

ul {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 60px;
  text-decoration: none;
  color: #111;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  z-index: 1;
  font-size: 13px;
}

ul:hover li a {
  opacity: 0;
}

ul li a:hover {
  transform: scale(1.4);
  z-index: 10000;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100px;
  background: linear-gradient();
}

.box-3 {
  background-image: url("../Assets/bgimg3.jpg");
  height: 600px;
  opacity: 0.85;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.flex-container .flex-item {
  width: 50px;
  height: 100px;
  background-color: #000;
  margin-top: 80px;
}

footer {
  height: 12vh;
  background-color: #24252a;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .sig {
  font-family: "Nothing You Could Do", cursive;
}
