.bg-image{
  background-image: url(../Assets/bg-new1.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

h1 {
  text-align: center;
  color: #281c18;
  font-family: brightons;
  font-weight: 600;
  margin-top: 50px;
  font-size: 40px;
}

.box ,.s_box{
  max-width: 350px;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px 40px 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  box-shadow: 5px 8px #b8b8b8;
}
.s_box{
  margin-top: 45px;
}

.box h2,.s_box h2 {
  color: rgb(54, 54, 54);
  font-weight: 500;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

.box input[type=text], .box input[type=password] {
  
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid gray;
  padding: 14px 10px;
  width: 250px;
  height: 10px;
  color: grey;
  border-radius: 10px;
  transition: 0.25s;
}
.box input[type=text]:focus, .box input[type=password]:focus {
  width: 300px;
  border-color: grey;
  outline: none;
}

.box input[type=submit],.s_box input[type=submit] {
  font-size: 15px;
  border: 0;
  background: rgb(66, 65, 65);
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(68, 68, 68);
  border-color: rgb(68, 68, 68);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
a, p {
  text-decoration: underline;
  font-family: roboto;
  font-size: 15px;
  color: #24252A;
}
p {
  text-decoration: none;
  display: inline;
}
.s_box input[type=text],.s_box input[type=text],.s_box input[type=text],.s_box input[type=password],.s_box input[type=password]{

  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid gray;
  padding: 12px 12px;
  width: 280px;
  height: 8px;
  color: grey;
  border-radius: 10px;
  transition: 0.25s;
}

.s_box input[type=text]:focus,.s_box input[type=text]:focus,.s_box input[type=text]:focus,.s_box input[type=password]:focus,.s_box input[type=password]:focus{
  width: 300px;
  border-color: grey;
  outline: none;
}