<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parapet.org</title>
  <link rel="stylesheet" type="text/css" href="CSS/fonts.css">
  <link rel="stylesheet" type="text/css" href="CSS/nav.css">
  <link rel="stylesheet" type="text/css" href="CSS/test-feed.css">
</head>

<body>
  <div class="nav__container">
    <header>
      <div class="title"><a href="mbrpage.html">Parapet</a></div>
      <nav>
        <ul class="nav__links">
          <li><a href="./top-stories.html">Top Stories</a></li>
          <li><a href="./newsletter.html">Newsletter</a></li>
          <li><a href="./index.html">About</a></li>
        </ul>
      </nav>
      <a class="cta" href="login.html">
        <button>Log Out</button>
      </a>
    </header>
  </div>


  <!-- Feed Items Start Here  -->



<div class="feed-area">
  <div class="feed__container">
    <div class="item1">
      <div class="grid-title">
        <a href="Feed-Pages/feed_01.htm">Climate Action Accelerated</a>
      </div>
    </div>
    <div class="item2">
      <div class="grid-title">
        <a href="Feed-Pages/feed_03.htm">Inequality and Exclusion</a>
      </div>
    </div>
    <div class="item3">
      <div class="grid-title">
        <a href="Feed-Pages/feed_04.htm">Conflict and Peace</a>
      </div>
    </div>
    <div class="item4">
      <div class="grid-title">
        <a href="Feed-Pages/feed_02.htm">A Decade to Deliver on SDGS</a>
      </div>
    </div>
    <div class="item5">
      <div class="grid-title">
        <a href="survey.html">Take a Survey!</a>
      </div>
    </div>
    <div class="item6">
      <div class="grid-title">
        <a href="#">Coming Soon!</a>
      </div>
    </div>
    <!-- <div class="item7"></div>
    <div class="item8"></div>
    <div class="item9"></div>
    <div class="item10"></div>
    <div class="item11"></div> -->

    <div class="item0">
      <div class="post-title">Post Content</div>
      <br>
      <textarea name="" id="post-area"></textarea>
      <a class="post-btn" href="#">
        <button>Publish</button>
      </a>
    </div>
  </div>
</div>

<footer>
  <p></p>
</footer>


</body>

</html>