{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Explore
{% endblock title %}

{% block content %}

{% include 'social/nav.html' %}

<div class="container feed_area">

  {% if article_item %}
    <div class="feed_section " >
         
    <div class="feed_article article_section">

      <!-- {{ article_item }} -->

      <p class="article_title">{{ article_item.title }}</p>

      <p class="post_author">@{{ article_item.author }}  {{ article_item.created_on }}</p>
      <p >{{ article_item.body }}</p>
    </div>
    {% else %}
    <p>Error article not found</p>
    {% endif %}
  </div>
</div>

<!-- {{ article_item }} -->

{% endblock content %}