{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Explore
{% endblock title %}

{% block content %}

{% include 'social/nav.html' %}


    <div class="container feed_area">
      <div class="post_area">
          
          <form method="post">
            Search
          </form>
          <button class="btn btn-success">Post Article</button>
      </div>
      {% for article in article_list %}
        <div class="feed_section">
         
          <div class="feed_article">
            <a href="{% url 'social:article' pk=article.id %}" class="stretched-link">          </a>
            <p class="article_title">{{ article.title }}</p>
            <p class="post_author">@{{ article.author }}  {{ article.created_on }}</p>
            <p class="article_body" id="box">{{ article.body }}</p>
          </div>
        </div>
      {% endfor %}
    </div>



    <!-- GLOBAL CHAT SECTION -->

    <div class="chat_area">
      <h3>Trending</h3>
    </div>

    <script src="jquery-3.5.1.min.js">jQuery('#box').html(jQuery('#box').html().substr(0,30) + '...');</script>


{% endblock content %}