@import './variables';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block1{
  height: 79vh;
  width: 100%;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;

  // .glass{
  //   background: rgba( 255, 255, 255, 0.10 );
  //   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  //   backdrop-filter: blur( 4px );
  //   -webkit-backdrop-filter: blur( 5px );
  //   border-radius: 10px;
  //   width: 25%;
  //   padding: 20px 40px;
  //   text-align: center;
  //   font-family: brightons;
  //   font-size: 35px;
  //   // position: absolute;
  //   // top: 30%;
  //   // left: 30%;
  // }

    h2{
      font-family: brightons;
      font-size: 40px;
    }

    h3{
      width: 450px;
      font-weight: lighter;
      font-family: 'Poppins';
      font-size: 16px;
      margin-top: 20px;
      margin-left: 30px;
    }

}


.img1{
  height: 50vh;
  max-width: 100%;
}


header{
  padding: 20px;
  height: 30px;
}


footer{
  height: 15vh;
  background-color: $grey-accent;
  padding: 20px;
  color: white;
  margin-top: auto;
}