@import './variables';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block1{
  height: 100vh;
  width: 100%;
  padding: 30px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}