@import './variables';
@import './fonts.scss';

.box
{
  width: 300px;
  padding: 20px 40px 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;
  border: 2px solid black;
}
h1
{
  text-align: center;
  color: #281c18;
  font-family: brightons;
  font-weight: 600;
  margin-top: 80px;
  font-size: 40px;

}
.box h2
{
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.box input[type="text"],.box input[type = "password"],.box input[type = "password"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: grey;
  border-radius: 50px;
  transition: 0.25s;

}
.box input[type="text"]:focus,.box input[type = "password"]:focus,.box input[type = "password"]:focus
{
  width: 280px;
  border-color: gray;
}
.box input[type="submit"]
{
  font-size: 17px;
  border: 0;
  background: black;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  border-color: black;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

a, p{
  text-decoration: underline;
  font-family: roboto;
  font-size: 15px;
  color: $grey-accent;
}

p{
  text-decoration: none;
  display: inline;
}
h2{
  font-family: roboto;
  font-weight: bold;
}