{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Explore
{% endblock title %}

{% block content %}
<div class="blurred-wrapper">
  <div class="color-layer">

{% include 'social/nav.html' %}

<div class="containerarea news_area">

  {% if article_item %}
    
      <div>
        <a href="{% url 'social:explore' %}" class="back_btn_post"><i class="fas fa-arrow-left"></i>Back </a>
    </div>   
        

      <!-- {{ article_item }} -->

      <p class="article_title">{{ article_item.title }}</p>

      <p class="post_author">@{{ article_item.author }}  {{ article_item.created_on }}</p>
      {% if article_item.article_pic %}
            <div class="article_picture">
              <img class="" src="{{article_item.article_pic.url}}">
            </div>
            {% endif %}
      <p class="article_body">{{ article_item.body }}</p>
    {% else %}
    <p>Error article not found</p>
    {% endif %}
  
</div>
<div class="end-article">

</div>

<!-- {{ article_item }} -->
  </div>
</div>
{% endblock content %}