{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}


{% block content %}
<div class="blurred-wrapper">
  <div class="color-layer">

{% include 'social/nav.html' %}
<div class="container feed_area">

  <div class="post_area">
    
   <div>
      <a href="{% url 'social:explore' %}" class="back_btn_post"><i class="fas fa-arrow-left"></i>Back </a>
  </div>  

  
  {% for article in article_list %}
      <div class="user_search">
          <a  href="{% url 'social:article' article.pk %}">- 
          {{article.title}}</a>
          
        <p>{{article.author}}</p>
      </div>
  
 


    {% endfor %}
 
</div>
<div class="end-article">

</div>
</div>
  </div>
{% endblock content %}