{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Explore
{% endblock title %}

{% block content %}

<div class="blurred-wrapper">
  <div class="color-layer">

{% include 'social/nav.html' %}
{% include 'social/top-nav.html' %}


    <div class="container feed_area article-feed-area">
      <div class="post_area">
          
        <form class="d-flex" method="GET" action="{% url 'social:article-search' %}">
          <div class="search_col">
            <input type="text" class="search_box" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
            <button style="border: none; background-color: transparent; box-shadow: none" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>

          <a href="{% url 'social:post_article' %}"><button class="btn btn-success">Post Article</button></a>
      </div>
      {% for article in article_list %}
        <div class="feed_section">
         
          <div class="feed_article">
                    
            <p class="article_title"><a href="{% url 'social:article' pk=article.id %}">{{ article.title }}</a></p> 
            <p class="post_author">@{{ article.author }}  {{ article.created_on }}</p>
            <p class="article_body">{{ article.body }}</p>
          </div>
        </div>
      {% endfor %}
      <div class="end-article">
      </div>
    </div>




    

</div>
</div>
{% endblock content %}