{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="{% static 'CSS/fonts.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'CSS/newsletter.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'CSS/top-stories.css' %}" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/new_feed.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/dark_feed.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/hv7.css' %}">

</head>
<body>

  <div class="blurred-wrapper">
    <div class="color-layer">

      {% include 'social/nav.html' %}
      
    </div>
  </div>


</body>
</html>