{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}


{% block content %}

<div class="blurred-wrapper">
<div class="color-layer">

  {% include 'social/nav.html' %}

  {% include 'social/top-nav.html' %}

    <div class="container feed_area">
      <div class="post_area">

        <img class="profile-pic" src="{{request.user.parapet_user.profile_pic.url}}">
        <div class="profile_post_area">
        <form method="POST" class="post_form" action="{% url 'social:create-thread' %}">
          {% csrf_token %}
          <button class="btn new-message" type="submit">New Message<i class="fa fa-paper-plane fa-lg post_btn_inbox"></i></button>
        </form>
      </div>   
      </div>
      {% for thread in threads.all %}
      <div class="  post_section message-user">
        <div class=" feed_article position-relative message-card ">
          <!-- {% if thread.receiver.id == reqest.user.id %}
          <img class="profile-pic-post" src="{{thread.user.parapet_user.profile_pic.url}}">
          {% else %}
          <img class="profile-pic-post" src="{{thread.receiver.parapet_user.profile_pic.url}}">
          {% endif %} -->
          <span class="post_author">
            <div class="profile_link">
              <a href="{% url 'social:thread' thread.pk %}">
              {{ thread.user }} to {{ thread.receiver }}
            </a>
            </div>
          </span>
        </div>
      </div>
      {% endfor %}
      <div class="end-article"></div>
    </div>

    {% include 'social/right-sidebar.html' %}

  </div>
</div>
{% endblock content %}