{% extends 'social/base.html' %}

{% block content %}
<!-- NavBar -->

<!-- {% include 'social/nav.html' %} -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="f_logout">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



<!-- Feed Area -->

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 border-bottom">
      <h5>Add A Post</h5>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-5 col-sm-12 border-bottom">
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="d-grid gap-2">
          <button class="btn btn-success mt-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
  {% for post in post_list %}
  <div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 border-bottom">
      <p><strong>
          <a class="post_link" href="profiles/{{ post.author.id }}">@{{ post.author }}</a>
        </strong> {{ post.created_on }}</p>
      <p>{{ post.body }}</p>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock content %}