{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}


{% block content %}

<div class="blurred-wrapper">
<div class="color-layer">

{% include 'social/nav.html' %}

<div class="header-wrapper">
  <div class="topnav-right">
  <form class="topnav-search">
    <input type="text" class="topnav-searchbar" placeholder="Search">
    <button class="topnav-searchbutton">
      <a href=""><i class="fa fa-search"></i></a>
    </button>
  </form>  
  <div class="nav_user_profile topnav_profile">{{request.user.parapet_user.name}}</div>
  <img class="profile-pic-post topnav-pic" src="{{request.user.parapet_user.profile_pic.url}}">
</div>
</div>

    <div class="container feed_area">
      <div class="post_area">

        <img class="profile-pic" src="{{request.user.parapet_user.profile_pic.url}}">
        <div class="profile_post_area">
        <form method="POST" class="post_form">
          {% csrf_token %}
          {{ form }}
          <button class="btn" type="submit"><i class="fa fa-paper-plane fa-lg post_btn"></i></button>
        </form>
      </div>   
      </div>
      {% for post in post_list %}
        <div class="  post_section">
          <div class=" feed_article position-relative">
            <img class="profile-pic-post" src="{{post.author.profile_pic.url}}">
            <span class="post_author">
              <div class="profile_link">
              <a href="{% url 'social:user_profile' post.author.pk %}">
                {{ post.author.name }}
              </a>
            </div>
            </span>
            <div class="datetime">{{ post.created_on }}</div>
            <div class="post_body">{{ post.body }}</div>
            <a href="{% url 'social:postDetail' post.pk %} " class="profile_link"><i class="fas fa-comment post_btn"></i></a>
          </div>
        </div>
      {% endfor %}
    </div>



    <!-- GLOBAL CHAT SECTION -->

    <div class="right_sidebar">
      <div class="friends_title"><h3>Friends List</h3></div>
        <div class="friend_list_area">
          <div class="friends">
            {% for user in list %}
            <a href="{% url 'social:user_profile' pk=user.pk %}">
              <img scr="{{userpp.profile_pic}}">
             <h4>{{ user.username }}</h4>
            <!-- <img src="{%if user.parapet_user.profile_pic%}{{user.parapet_user.profile_pic.url}}{%endif%}"> -->
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="top_stories_link">
        <a href="">
          <h4>Top Stories</h4>
        </a>
      </div>
      <div class="newsletters_link">
        <a href="">
          <h4>Newsletters</h4>
        </a>
      </div>
    </div>


  </div>
</div>
{% endblock content %}