

<div class="sidenav">
  <div class="sidenav-title">
    Community
  </div>
  <div class="nav_links">
  <a href="{% url 'social:index' %}"><i class="fas fa-home"></i>Home</a>
  <a href="{% url 'social:explore' %}"><i class="far fa-newspaper"></i>Projects</a>
  <a href="{% url 'social:inbox' %}"><i class="far fa-comment-alt"></i>Messages</a>
  <a href="{% url 'social:settings' %}"><i class="fa fa-cog fa-sm"></i>Settings</a>
  <a href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt logout-btn"></i>Logout</a>
</div>
   
</div>

<!-- 
<a href="{% url 'social:newsletter' %}">Newsletter</a>
  <a href="{% url 'accounts:home' %}">About</a>
  <a href="{% url 'social:topStories' %}">Top-Stories</a> -->

 