{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}


{% block content %}
<div class="blurred-wrapper">
  <div class="color-layer">
{% include 'social/nav.html' %}
{% include 'social/top-nav.html' %}

    <div class="container feed_area">
      <div class="post_area">
        <div>
          <a href="{% url 'social:postDetail' object.pk %}" class="back_btn_post"><i class="fas fa-arrow-left"></i>Back </a>
        </div>   
        <div class="update_post">
        Update Your Post !
      </div>
        <div class="profile_post_area">
        <form method="POST" class="post_form_edit">
          {% csrf_token %}
          {{ form }}
          <button class="btn" type="submit"><i class="fa fa-paper-plane fa-lg post_btn"></i></button>
        </form>
      </div>   
     
      </div>
      
      <div class="end-post"></div>
    </div>
    {% include 'social/right-sidebar.html' %}
  </div>
</div>
{% endblock content %}