{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Explore
{% endblock title %}

{% block content %}
<div class="blurred-wrapper">
  <div class="color-layer">
{% include 'social/nav.html' %}
<div class="containerarea news_area">
<div>
  <a href="{% url 'social:explore' %}" class="back_btn_post"><i class="fas fa-arrow-left"></i>Back </a>
</div>  

  
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
{{form}}
<button class="btn post-article-btn" type="submit"><i class="fa fa-paper-plane fa-lg post_btn"></i></button>
</form>
</div>
<div class="end-article">

</div>


</div>
  </div>

{% endblock content %}