{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}


{% block content %}
  <div class="blurred-wrapper">
   {% include 'social/nav.html' %}
   {% include 'social/top-nav.html' %}

      <div class="container feed_area">
        <div class="post_area">
          <div>
            <a href="{% url 'social:postDetail' object.pk %}" class="back_btn_post"><i class="fas fa-arrow-left"></i>Back </a>
          </div>   
          <div class="update_post">
          Are You Sure ?
        </div>
        <div class="delete_post">
        <p>You are about to delete this post. This cannot be undone</p>
      
          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete <i class="fas fa-trash"></i></button>
          </form>  
        </div>
      </div>
        
      </div>
    {% include 'social/right-sidebar.html' %}
  <div class="end-article"></div>
  </div>
{% endblock content %}