

<div class="right_sidebar">
  <div class="top_stories_link">
    <a href="{% url 'social:topStories' %}">
      <h4>Top Stories</h4>
    </a>
  </div>
  <div class="newsletters_link">
    <a href="{% url 'social:newsletter' %}">
      <h4>Newsletters</h4>
    </a>
  </div>
  {% if list.all.count > 1 %}
  <div class="friends_title mb-3"><h5>People you may know ...</h5></div>
    <div class="friend_list_area">
        {% for p_user in list %}
        <div class="friends mat-3">
        {% if p_user == request.user.parapet_user %}
        {% else %}
        <a href="{% url 'social:user_profile' pk=p_user.pk %}" class="friends-list mt-3">
        <img class="profile-pic" src="{{p_user.profile_pic.url}}">
        <div class="friends-list-name">{{ p_user.username }}</div>
        </a>
        {% endif %}
      </div>
      {% endfor %}
  </div>
  {% endif %}
 
</div>
