{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}

{% block content %}

<div class="blurred-wrapper">
  <div class="color-layer">
    {% include 'social/nav.html' %}
    {% include 'social/top-nav.html' %}
    <div class="containerarea news_area">
    
      <div class="user_info">
        <div class="settings_image">
          <img class="profile-pic setting_pic" src="{{request.user.parapet_user.profile_pic.url}}">
        </div>
        <div class=" post_area_title settings_name">
          {{ user.name }}
        </div>
      </div>
      
      <div class="setting_update">
        <form class="settings_form" method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}

          <input type="submit" value="Update" class="btn btn-info">
        </form>
      </div>
  
    </div>

  </div>
</div>
{% endblock content %}