{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Newsletter
{% endblock title %}

{% block content %}

{% include 'social/nav.html' %}

    <div class="container feed_area tpstr_area">
      <div class="clips">
          <video width="320" height="240" controls class="clip">
            <source src="{% static 'Assets/news1.mp4'%}" type="video/mp4">
          </video>
        <br>
          <video width="320" height="240" controls class="clip">
            <source src="{% static 'Assets/news2.mp4' %}" type="video/mp4">
          </video>
          <br>
          <video width="320" height="240" controls class="clip">
            <source src="{% static 'Assets/news3.mp4' %}" type="video/mp4">
          </video>
      </div>
    </div>

    {% endblock content %}