


<div class="header-wrapper">
  <div class="topnav-right">

    <form class="d-flex" method="GET" action="{% url 'social:profile-search' %}">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-co" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
        <button style="border: none; background-color: transparent; box-shadow: none" type="submit"><i class="fas fa-search fa-sm"></i></button>
      </div>
    </form>

    
    <div class="username_top_right">
      <a href="{% url 'social:user_profile'  request.user.id%}">
        {{request.user.parapet_user.name}}
      </a>
    </div>
    <a href="{% url 'social:user_profile'  request.user.id %}">
      <img class="profile-pic-post topnav-pic" src="{{request.user.parapet_user.profile_pic.url}}">
    </a>
  </div>
</div>