{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}

{% block content %}

{% include 'social/nav.html' %}
<!-- 
<div class="blurred-wrapper">
  <div class="color-layer"> -->
    
    <div class="container feed_area">
      <div class="post_area">
        <div>
          <a href="{% url 'social:index'  %}" class="back_btn_post"><i class="fas fa-arrow-left"></i>Back </a>
        </div>   
        
        
          <div class="user_details_field">
             <div class="udf_profile">
             <img src="{{ profile.profile_pic.url }}" alt="" width="100" height="100" />
             </div>



              {% if profile.username %}
              <div class="udf_username">{{ profile.name }}</div><br>
              <div class="udf_username-tag">@{{profile.username}}</div>
              {% endif %}

             <div class="social-count">
              <div class="social-block">
                <div>{{ number_of_followers }}</div>
                <div class="count-text">Followers</div>
              </div> 
              <div class="social-block">
                <div>{{ number_of_following }}</div>
                <div class="count-text">Following</div>
              </div> 
              {% if profile.pk == request.user.pk %}
              <a class="setting_icon " href="{% url 'social:settings' %}"><i class="fa fa-cog fa-sm"></i></a>
              {% else %}
                {% if is_following %}
                  <form action="{% url 'social:removeFollower' profile.pk %}" method="post">
                    {% csrf_token %}
                    <button class="follow-button" type="submit">Unfollow</button>
                  </form>
                {% else %}
                  <form action="{% url 'social:addFollower' profile.pk %}" method="post">
                    {% csrf_token %}
                    <button class="follow-button " type="submit">Follow</button>
                  </form>           
                {% endif %}
               {% endif %}
            </div>

             <div class="udf_bio">
              {{profile.bio}}
             </div>
          </div>


      {% for post in post_list %}
        <div class="  post_section">
          <div class=" feed_article position-relative">
            <img class="profile-pic-post" src="{{post.author.profile_pic.url}}">
            <span class="post_author"><a href="{% url 'social:user_profile' post.author.pk %}"></a>{{ post.author.name }}</span><div class="datetime">{{ post.created_on }}</div>
            <p class="post_body">{{ post.body }}</p>
            <div class="d-flex flex-row">
              <form action="{% url 'social:like' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit">
                  <i class="far fa-thumbs-up "> <span>{{ post.likes.all.count }}</span></i>
                </button>
              </form>

              <form action="{% url 'social:dislike' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}"> 
                <button type="submit">
                  <i class="far fa-thumbs-down "><span>{{ post.dislikes.all.count }}</span></i>
                </button>
              </form>

              <form action="{% url 'social:postDetail' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">
                  <i class="far fa-comment"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


    <!-- GLOBAL CHAT SECTION -->

    <!-- <div class="chat_area">
      <h3>Global Chat</h3>
    </div> -->

  

{% endblock content %}