{% extends 'social/base.html' %}

{% load static %}

{% block title %}
  Parapet.org
{% endblock title %}

{% block content %}

{% include 'social/nav.html' %}


    <div class="container feed_area">
      <div class="post_area">
        <div class=" post_area_title">
          <a href="{% url 'social:user_profile' %}" class="user_profile">{{ user.name }}</a>
        </div>
   
    
          <form method="POST" class="post_form">
            {% csrf_token %}
            {{ form }}
              <button class="btn_submit">Submit</button>
          </form>
        
      </div>
      {% for post in post_list %}
        <div class="  feed_section">
          <div class=" feed_article">
            <p class="post_author">@{{ post.author }}  {{ post.created_on }}</p>
            <p class="post_body">{{ post.body }}</p>
          </div>
        </div>
      {% endfor %}
    </div>



    <!-- GLOBAL CHAT SECTION -->

    <div class="chat_area">
      <h3>Global Chat</h3>
    </div>



{% endblock content %}