body{
  padding: 0;
  margin: 0;
  background-color: #e7e7e7;
}

.nav{
  position: fixed;
  width: 100%;
  height: 35px;
  z-index: +1;
  background-color: black;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 15px;
  padding: 6px;
  margin: 0;
}

.nav > div{
  display: inline-block;
}

.nav .nav-title{
  color: white;
}

div a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
.link-action{
  float: right;
  margin-top: 4px;
  padding-right: 10px;
  font-family: roboto;
}
.link-action > a:hover{
  background-color: white;
  color: black;
  font-family: roboto;
}

input{
  width: 200px;
  height: 20px;
  padding-left: 10px;
  margin-left: 0;
  /* margin-bottom: 5px; */
  /* border-radius: 10px; */
}

@media (min-width: 800px){
  input{
    width: 300px;
  }
}

.menu-bar{
  position: fixed;
  margin-top: 40px;
  width: 220px;
  height: 100%;
  background: #f5f5f5;
  border: 1px solid #a3a3a3;
  padding-top: 30px;
}

.menu-bar h2{
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.menu-bar a{
  color: #616161;
  display: block;
  font-size: 22px;
  text-align: left;
  padding-left: 30px;
  font-family: roboto;
}

.menu-bar a:hover{
  color: black;
}

.menu-bar .active-link{
  color: black;
}

.survey-area{
  width: 22%;
  /* background-color: coral; */
  float: right;
}

.title{
  margin-left: 20px;
  margin-right: 170px;
  font-family: brightons;
  font-size: 27px;
  padding: 5px;
}

.survey-box{
  color: #666666;
  /* position: fixed; */
  background: #ffffff;
  border: 1px solid #a3a3a3;
  display: block;
  float: right;
  margin-top: 80px;
  margin-right: 20px;
  padding: 10px;
  height: 260px;
  width: 80%;
  overflow: hidden;
}

.survey-box p{
  color: #3f3f3f;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 2px;
}

.survey-box .survey-topic{
  color: #666666;
  font-size: 15px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

.survey-box .survey-content{
  color: #666666;
  font-size: 13px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

.survey-box textarea{
  margin: 10px;
  height: 80px;
  width: 210px;
  padding: 5px;
  margin-left: 15px;
  color: #666666;
  border-radius: 5px;
  border-color: #666666;
  overflow: hidden;
}

.survey-box input{
  color: #666666;
  font-family: sans-serif;
  text-decoration: none;
  display: block;
  margin: 5px;
  width: 80px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: auto;
  float: right;
}

.survey-box a{
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  display: block;
  margin: 5px;
  width: 80px;
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  float: right;
  text-decoration: none;
}


.feed-area{
  /* background-color: cyan; */
  padding-top: 50px;
  float: left;
  margin-left: 220px;
  padding: 0;
  height: 50%;
  width: 62%;
  margin-top: 80px;
}

.feed-item{
  margin-top: 40px;
  width: 88%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: solid 0.5px #616161;
  margin-bottom: 30px;
}

.feed-title{
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

}

.logo{
  display: inline-block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
}

.logo > img{
  max-width: 100%;
  max-height: 100%;
}

.org-title{
  display: inline-block;
  font-size: larger;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 20px;
}

.follow{
  color: #616161;
  float: right;
  text-decoration: underline;
  padding: 2px;
  font-family: sans-serif;
  font-size: small;
  margin-top: 10px;
}

.feed-image{
  height: 350px;
  padding: 10px;
}

.feed-image > img {
  width: 100%;
  height: 100%;
}

.feed-text{
  color: #666666;
  font-family: sans-serif;
  font-style: italic;
  margin-left: 10px;
  margin-bottom: 10px;
}

.text-areaaaa{
  width: 760px;
  height: 120px;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 0px;
  padding-top: 20px;
}

.post-area{
  padding: 20px;
  width: 88%;
  margin: 0 auto;
  top: 5px;
  height: 120px;
  margin-bottom: 15px;
  border: 1px solid rgb(110, 110, 110);
  background: white;
}

.post-text-area{
  height: 65px;
  width: 98%;
  font-family: roboto;
  font-size: 17px;
  font-family: roboto;
  border-radius: 3px;
}

.post-submit{
  float: right;
  margin-top: 10px;
  width: 90px;
  height: 40px;
  background: #000000;
  border-radius: 16px;
  border-color: #808080;
  color: #ffffff;
  font-size: 13px;
  font-family: lemon_milk;
}
