body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

@media (max-width: 700px){
    body{
        background-color: red;
    }
}


.Center{
    width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.Center h2{
    text-align: center;
}

.Login-Box{
    padding: 1em;
    background: white;
    text-align: center;
    border: 0.5px solid black;

}

.TextBox{
    padding: 3px;
    font-family: Amertha;
} 